@model AutoQuote
@section Banner {
    <banner title="Thank you!" sub-title="You should receive an email shortly with your quote." background-color="green"></banner>
}


<p>In the mean time, check out some of our other services!</p>